/trunk/Libraries/Nop.Core/obj
/trunk/Libraries/Nop.Core/bin
/trunk/Libraries/Nop.Data/obj
/trunk/Libraries/Nop.Data/bin
/trunk/Libraries/Nop.Services/obj
/trunk/Libraries/Nop.Services/bin
/trunk/Presentation/Nop.Web/obj
/trunk/Presentation/Nop.Web/bin
/trunk/Presentation/Nop.Web.Framework/obj
/trunk/Presentation/Nop.Web.Framework/bin
/trunk/Tests/Nop.Core.Tests/obj
/trunk/Tests/Nop.Core.Tests/bin
/trunk/Tests/Nop.Data.Tests/obj
/trunk/Tests/Nop.Data.Tests/bin
/trunk/Tests/Nop.Services.Tests/obj
/trunk/Tests/Nop.Services.Tests/bin
/trunk/Tests/Nop.Tests/obj
/trunk/Tests/Nop.Tests/bin
/trunk/Tests/Nop.Web.MVC.Tests/obj
/trunk/Tests/Nop.Web.MVC.Tests/bin
