/trunk/Libraries/Nop.Core/obj
/trunk/Libraries/Nop.Core/bin
/trunk/Libraries/Nop.Data/obj
/trunk/Libraries/Nop.Data/bin
/trunk/Libraries/Nop.Services/obj
/trunk/Libraries/Nop.Services/bin
/trunk/Presentation/Nop.Web/obj
/trunk/Presentation/Nop.Web/bin
/trunk/Presentation/Nop.Web.Framework/obj
/trunk/Presentation/Nop.Web.Framework/bin
/trunk/Tests/Nop.Core.Tests/obj
/trunk/Tests/Nop.Core.Tests/bin
/trunk/Tests/Nop.Data.Tests/obj
/trunk/Tests/Nop.Data.Tests/bin
/trunk/Tests/Nop.Services.Tests/obj
/trunk/Tests/Nop.Services.Tests/bin
/trunk/Tests/Nop.Tests/obj
/trunk/Tests/Nop.Tests/bin
/trunk/Tests/Nop.Web.MVC.Tests/obj
/trunk/Tests/Nop.Web.MVC.Tests/bin
/trunk/Plugins/Nop.Plugin.Payments.AuthorizeNet/obj
/trunk/Plugins/Nop.Plugin.Payments.CashOnDelivery/obj
/trunk/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
/trunk/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj
/trunk/Plugins/Nop.Plugin.DiscountRules.HadSpentAmount/obj
/trunk/Plugins/Nop.Plugin.DiscountRules.HasAllProducts/obj
/trunk/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj
/trunk/Plugins/Nop.Plugin.ExchangeRate.McExchange/obj
/trunk/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj
/trunk/Plugins/Nop.Plugin.ExternalAuth.OpenId/obj
/trunk/Plugins/Nop.Plugin.Feed.Froogle/obj
/trunk/Plugins/Nop.Plugin.Misc.FacebookShop/obj
/trunk/Plugins/Nop.Plugin.Misc.WebServices/obj
/trunk/Plugins/Nop.Plugin.Shipping.UPS/obj
/trunk/Plugins/Nop.Plugin.Shipping.USPS/obj
/trunk/Plugins/Nop.Plugin.SMS.Verizon/obj
/trunk/Plugins/Nop.Plugin.Tax.CountryStateZip/obj
/trunk/Plugins/Nop.Plugin.Tax.FixedRate/obj
/trunk/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj
/trunk/Plugins/Nop.Plugin.Widgets.NivoSlider/obj
/trunk/Plugins/Nop.Plugin.Payments.Manual/obj
/trunk/Plugins/Nop.Plugin.Payments.PayPalDirect/obj
/trunk/Plugins/Nop.Plugin.Payments.PayPalStandard/obj
/trunk/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj
/trunk/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj
/trunk/Plugins/Nop.Plugin.Shipping.ByWeight/obj
/trunk/Plugins/Nop.Plugin.Shipping.CanadaPost/obj
/trunk/Plugins/Nop.Plugin.Shipping.Fedex/obj
/trunk/Plugins/Nop.Plugin.Shipping.FixedRateShipping/obj
