
/*右侧漂浮jump*/
#top{position:fixed;bottom:125px;right:30px;height:50px;width:50px;z-index:99999991;overflow:hidden;}
*html #top{position:absolute;top:expression(documentElement.scrollTop + "px");margin:0 0 125px 0;}
#jump{position:fixed;bottom:70px;right:30px;width:50px;z-index:99999991;}
*html #jump{position:absolute;top:expression(documentElement.scrollTop + "px");margin:0 0 70px 0;}
#top,#sina{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;}
#top a{display:block;width:50px;height:50px;background:url(../images/groupBuying.png) -347px -540px no-repeat;}
#top a:hover{display:block;width:50px;height:50px;background:url(../images/groupBuying.png) right -540px no-repeat;}
#sina{background:url(../images/groupBuying.png) -235px -540px no-repeat;}
#sina:hover{background:url(../images/groupBuying.png) -291px -540px no-repeat;}
#EWM{position:absolute;left:-264px;display:none;bottom:-55px;}
#EWM img{width:264px;height:162px;}
/*右侧漂浮jump end*/
.login_right span,.logo_search .search_btn,.nav .nav_register,.logo_left h3 i,.close a.header_close,.nav_register i{background:url(../images/header.png) 0 0 no-repeat;} 
.menu_list .menu_sign,.menu_list .icon{background:url(../images/index.png) 0 0 no-repeat;}
/*header_wrap*/
.header_wrap{width:100%;min-width:1180px;background:#fff;}
/*header_top*/
.header_top{width:100%;min-width:1180px;background:#f3f3f3;}
.header_top .header_login{width:1180px;height:30px;line-height:30px;margin:0 auto;}
.header_login .login_left{float:left;padding-left:10px;}
.header_login .login_left span{padding-right:10px;}
.header_login .login_left span.color,.header_top .login .login_left em{color:#333;}
.login_left a{margin-right:10px;}
.login_left a:hover{color:#ff9913;}
/*2014-04-15添加Login_left登录后样式*/
.Login_left{float:left;padding-left:10px;display:none;}
.Login_left span{padding-right:10px;}
.Login_left span em{color:#ff9913;}
.Login_left a{color:#1f85d7;padding-right:10px;}
.Login_left a:hover{color:#ff9913;}
/*2014-04-15添加Login_left登录后样式 end*/
.login_right{float:right;padding-right:10px;}
.login_right a{margin:0 10px;}
.login_right a:hover{color:#ff9913;}
.login_right span.phone{background-position:0 0;padding-left:12px;}
.login_right span.number{background-position:-140px 0;padding-left:22px;color:#ff9913;font-size:15px;font-style:italic;border:0;}
/*2014-06-04添加微信微博*/
.login_right a.header_weixin{position:relative;margin:0 10px 0 0;}
.login_right a.header_weixin:hover{text-decoration:none;}
.login_right a.header_weixin span{background:url(../images/header.png) 0 -200px no-repeat;padding-left:19px;}
.login_right a.header_weixin img{width:293px;height:136px;display:none;position:absolute;top:16px;right:-260px;z-index:999;}
.login_right a.header_weibo{margin:0 40px 0 0;}
.login_right a.header_weibo span{background:url(../images/header.png) -139px -200px no-repeat;padding-left:19px;}
.login_right a.header_weibo:hover{text-decoration:none;}
.login_right span.phone_bg{margin:0 5px 0 0;padding:1px 10px 5px 10px;background:url(../images/header.png) 0 -221px no-repeat;color:#ff9913;}
/*2014-06-04添加微信微博 end*/
/*header_bottom*/
.header_bottom{width:100%;min-width:1180px;background:url(../images/header_bottom.png) 0 0 repeat-x;}
/*logo*/
.header_bottom .logo{width:1180px;height:130px;margin:0 auto;}
.logo .logo_left{
	float:left;
	width:309px;
	height:63px; 
	margin-top: 35px; 
	display: block;
	position: relative;
	background:url(../images/logo.png) 0 0 no-repeat;position:relative;
}
.logo .logo_left .main_logo{width:309px;height:63px;position:absolute;top:20px;left:10px;}
.logo_left h3{height:28px;line-height:28px;border:1px solid #d6d6d6;padding-left:5px;color:#1f85d7;font-weight:normal;position:absolute;left:220px;top:57px;z-index:100000001;overflow:hidden;}
.logo_left h3 em{float:left;max-width:50px;overflow:hidden;}
.logo_left h3 a{float:left;width:30px;padding-left:10px;}
.logo_left h3 a:hover{text-decoration:none;}
.logo_left h3 i.curve{width:9px;height:5px;padding-right:5px;*+padding-bottom:5px;*+margin-top:11px;background-position:-151px -95px;display:inline-block;}
.logo_left h3 i.curent{width:9px;height:5px;padding-right:5px;*+padding-bottom:5px;*+margin-top:11px;background-position:0 -95px;display:inline-block;}
.switch{width:470px;padding:15px 10px;baackground:#fff;background:#fff;box-shadow:2px 2px 4px #ddd;border-top:3px solid #ff9913;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;position:absolute;left:220px;top:87px;z-index:100000002;display:none;}
.switch .close{height:30px;line-height:30px;padding-bottom:5px;border-bottom:1px solid #d6d6d6;overflow:hidden;}
.close h4{float:left;font-size:14px;font-weight:normal;}
.close a.header_close{float:right;width:22px;height:21px;background-position:0 -129px;display:block;}
.switch h2{line-height:25px;padding-top:5px;color:#999;font-weight:normal;}
.switch h5{line-height:25px;font-weight:normal;}
.switch .hot_city{height:auto;overflow:hidden;}
.hot_city span{float:left;height:30px;line-height:28px;margin:0 3px;}
.hot_city a{padding:2px 8px;border:1px solid #fff;cursor:pointer;white-space:nowrap;}
.hot_city a:hover,.hot_city a.qt{color:#ff9913;border-color:#ffd986;background:#fffcf4;text-decoration:none;}
.logo .logo_search{float:left;width:400px;padding:35px 0 0 150px;}
.logo_search .search_text{float:left;width:351px;height:38px;border:1px solid #ddd;border-right:0;}
.logo_search .search_text input{width:345px;height:38px;*+height:37px;line-height:38px;padding-left:6px;border:0;color:#666;}
.logo_search .search_btn{
	float:left;
	width:48px;
	height:40px;
	background:#ff9913 none repeat scroll 0 0;
	border:0;
	outline:0;
	color: #fff;
	cursor:pointer;
}
.logo_search h4{line-height:30px;font-weight:normal;}
.logo_search h4 a{margin:0 5px;}
.logo_search h4 a:hover,.logo_search h4 a.current{color:#ff9913;}
/*2014-04-18修改图标添加*/
.logo .logo_right{
	float:right;
	width:120px;
	padding:35px 0 0 100px;
}
.mini-cart{
	background: none repeat scroll 0 0 #1f85d7;
    border: 1px solid #1f85d7;
    color: #fff;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 9px 10px;
    position: relative;
    text-align: center;
    width: 104px;
    z-index: 21;
}
.mini-cart i{
	margin-right: 8px;
}
.mini-cart:hover{
	text-decoration: none;
}
/*2014-04-18修改图标添加*/
/*nav*/
.nav{width: 100%; min-width:1180px;height:40px;color:#333; background: none repeat scroll 0 0 #404144;}
.nav-header{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.nav .all{width:236px;height:40px;line-height:40px;background:#ff9913;text-align:center;color:#fff;font-size:16px;display:block;}
.nav .all:hover{text-decoration:none;}
.nav .navcn{float:left;width:944px;height:40px;display:block;}
.nav .navcn li{float:left;position:relative;z-index:1000000;}
.nav .navcn li a{line-height:40px;padding:0 36px;color:#fff;font-size:16px;cursor:pointer;display:block;}
.nav .navcn li a.pitch,.nav .navcn li a:hover{background:#333;text-decoration:none;}
.nav .navcn li img{position:absolute;top:-14px;left:20px;z-index:1000001;}
.nav .nav_register{float:left;width:93px;height:40px;padding-left:23px;background:url(../images/header.png) -138px -42px no-repeat #ff9913;color:#fff;position:relative;z-index:1000000;}
.nav_register a.me{line-height:40px;margin:0 5px;color:#fff;font-size:16px;cursor:pointer;}
.nav_register i{width:9px;height:5px;*+padding-bottom:5px;}
.nav_register i.curove{background-position:-151px -175px;display:inline-block;}
.nav_register i.curoent{background-position:0 -175px;display:inline-block;}
.register_pop{width:116px;background:#fff;color:#666;position:absolute;top:40px;left:0;z-index:1000001;display:none; border:1px solid #d6d6d6;}
.register_pop h2{width:96px;height:25px;line-height:25px;margin:0 auto;padding:5px 0;text-indent:2px;border-bottom:1px solid #ddd;font-weight:normal;overflow:hidden;}
.register_pop h2 a{color:#ff9913;font-size:12px;margin:0;}
.register_pop ul{padding:5px 10px;}
.register_pop .li_bottom{height:1px;margin:0 auto;border-bottom:1px solid #ddd;padding:2px 0;}
.register_pop li a{padding:5px 0;text-indent:2px;display:block;text-align:center;}
.register_pop li a:hover,.register_pop li a.curent{color:#ff9913;text-decoration:blink;}
.register_pop h3{width:96px;margin:0 auto;padding:10px 0;text-align:center;border-bottom:1px solid #ddd;font-weight:normal;display:none;overflow:hidden;}
.register_pop a.avatar{width:45px;height:45px;}
.register_pop a.avatar img{width:45px;height:45px;border-radius:22px 22px;}
.register_pop h3 a.avatar_name{height:20px;line-height:20px;color:#1f85d7;}
/*menu*/
.nav .nav_all{float:left;position:relative;z-index:10000000;}
.menu{width:236px;height:350px;background:#fff;position:absolute;top:40px;left:0;z-index:10000001;display:none;}
.menu_open li{height:69px;*+height:66px;position:relative;z-index:100000000;}
.menu_open li .menu_list{
	width:180px;
	height:69px;
	*+height:66px;
	margin:0 auto;
	padding-left:28px;
	border-bottom:1px solid #f5f5f5;
	display:block;
}
.menu_list .menu_sign{position:absolute;left:13px;top:15px;z-index:100000001;}
.menu_list .sign01{width:18px;height:18px;background-position:0 -500px;}
.menu_list .sign02{width:17px;height:19px;background-position:0 -570px;}
.menu_list .sign03{width:20px;height:16px;background-position:0 -640px;}
.menu_list .sign04{width:13px;height:20px;background-position:0 -710px;}
.menu_list .sign05{width:25px;height:16px;background-position:0 -780px;}
.menu_list h3{padding-top:10px;font-size:18px;}
.menu_list h3 a{color:#333;}
.menu_list .menu_place{height:20px;line-height:20px;padding-top:3px;overflow:hidden;}
.menu_list .menu_place span{margin:0 8px 0 0;}
.menu_list .menu_place a{margin:0 8px 0 0;white-space:nowrap;}
.menu_list .menu_place a:hover{color:#1f85d7;}
.menu_list .icon{width:7px;height:11px;background-position:0 -461px;position:absolute;top:18px;right:16px;z-index:100000002;}
/*menu js*/
.menu_open li.hover{background:#e78709;}
.menu_open li.hover .sign01{background-position:-110px -500px;}
.menu_open li.hover .sign02{background-position:-110px -570px;}
.menu_open li.hover .sign03{background-position:-110px -640px;}
.menu_open li.hover .sign04{background-position:-110px -710px;}
.menu_open li.hover .sign05{background-position:-110px -780px;}
.menu_open li.hover h3{color:#fff;}
.menu_open li.hover a{color:#fff;}
.menu_open li.hover a:hover{color:#fff;}
.menu_open li.hover .icon{background-position:-103px -461px;}
/*menu_close*/
.menu_close{
	width:300px;
	min-height:348px;
	border:1px solid #ff9913;
	background:#fff;
	box-shadow:2px 2px 4px #999;
	position:absolute;
	top:0;
	left:236px;
	z-index:93;
	display:none;
}
.menu_close02{top:-69px;}
.menu_close03{top:-138px;}
.menu_close04{top:-207px;}
.menu_close05{top:-276px;}
.menu_close_img{position:absolute;bottom:0;right:-68px;z-index:94;}
.close_link{min-height:308px;padding:20px 0 20px 20px;}
.close_link h3{padding-bottom:10px;font-size:18px;color:#ff9913;font-weight:normal;}
.close_link dl{line-height:30px;}
.close_link dt{float:left;text-align:right;font-weight:bold;color:#666;}
.close_link dd{line-height:30px;}
.close_link dd span{float:left;height:50px;line-height:50px; font-size: 14px; margin-right: 20px;}
.close_link dd a{padding:0 5px;margin:0 2px;white-space:nowrap;}
.close_link dd a:hover,.close_link dd a.nowFocus{color:#ff9913;}
/*menu_close js*/
.menu_open li.hover .close_link{min-height:308px;padding:20px 0 20px 20px;}
.menu_open li.hover .close_link h3{padding-bottom:10px;font-size:18px;color:#ff9913;font-weight:normal;}
.menu_open li.hover .close_link dl{line-height:30px;}
.menu_open li.hover .close_link dt{float:left;width:70px;text-align:right;font-weight:bold;}
.menu_open li.hover .close_link dt a{color:#000;}
.menu_open li.hover .close_link dd{float:left;max-width:630px;line-height:30px;}
.menu_open li.hover .close_link dd span{float:left;height:30px;line-height:30px;}
.menu_open li.hover .close_link dd a{padding:0 5px;margin:0 2px;color:#666;white-space:nowrap;}
.menu_open li.hover .close_link dd a:hover{color:#ff9913;}
.menu_open li.hover .close_link dd a.nowFocus{color:#ff9913;}
/*2014-07-04添加私人定制下拉菜单*/
.navcn_cont{position:absolute;top:40px;left:0;z-index:1000001;display:none;}
.navcn_cont li a{background:#1f85d7;color:#333;}
.navcn_cont li a:hover{background:#1578c6;}
/*2014-07-04添加私人定制下拉菜单 end*/

.search_selectd{
	position: absolute;
	background-color: #ddd;
	left: 453px;
}
.search_selectd li{
	height: 40px;
	line-height: 40px;
	width: 50px;
	text-align: center;
}
.search_selectd i{
	margin-left: 5px;
	
}