/*---------------------------------------------------------------------------Personal个人中心页面---------------------------------------------------------------------------*/

/*main*/
.main{margin-top:20px;}
/*.main_dq当前位置*/
.main .main_dq{height:40px;line-height:40px;font-weight:normal;}
.main .main_dq a{color:#1f85d7;}
.main .main_dq a:hover{color:#ff9913;}
/*.main_dq当前位置 end*/
.main_box{margin:0 auto;overflow:hidden;}
/*main_left*/
.main_left{width:236px; background-color: #fafafa;}
.main_left h3{
	height:50px;
	line-height:50px;
	color: #000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 20px;
    border-bottom: 1px solid #dfdfdf;
}
.main_left h3 p{width:22px;height:20px;background:url(../images/Personal.png) -230px -70px no-repeat;position:absolute;top:11px;left:10px;z-index:11;overflow:hidden;}
.main_left h3 b{font-size:16px;color:#fff;position:absolute;left:40px;z-index:11;}
.uc-nav-list{
	font-size: 14px;
    list-style-type: none;
    margin: 15px 0px;
    padding: 0;
}
.uc-nav-list li{
	position: relative;
}
.uc-nav-list li a {
    color: #6d6d6d;
    display: block;
    padding: 9px 30px;
}

.uc-nav-list li.current a {
    background-color: #fafafa;
    border-left: 3px solid #ff9913;
    color: #333;
    padding-left: 27px;
}

/*main_right*/
.main_right{width:924px;}
/*public*/
.public{margin:0 auto；}
.public_title{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #d6d6d6;
	font-size: 16px;
}
.public_content{
	margin: 20px auto 0 auto;
	position: relative;
}
/*orders订单*/
.orders_list{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dfdfdf #dfdfdf -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
}
.uc-order-detail-list{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.order-detail-table{
	color: #333;
    width: 100%;
}

.uc-order-detail-item .order-detail-table .column-info {
    background: none repeat scroll 0 0 #fafafa;
    font-weight: 400;
    height: 41px;
    text-align: left;
}
.uc-order-detail-item .order-detail-table .column-t {
    border-width: 0 0 1px;
}
.uc-order-detail-item .order-detail-table th, .uc-order-detail-item .order-detail-table td {
    border: 1px solid #dfdfdf;
    height: 35px;
    padding: 0;
}
.uc-order-detail-item .order-detail-table .column-info .column-content {
    height: 21px;
    line-height: 21px;
    padding: 10px 20px;
    position: relative;
}
.uc-order-detail-item .order-detail-table .column-info .sep {
    color: #dfdfdf;
    margin: 0 5px;
}
.uc-order-detail-item .order-detail-table .order-goods-dec a{
    color: #333;
}
.uc-order-detail-item .order-detail-table .order-goods-dec a:hover {
    color: #ff9913;
}
.uc-order-detail-item .order-detail-table .column-info .order-status {
    color: #f68b1f;
}
.uc-order-detail-item .order-detail-table .column-l {
    border-left: 0 none;
}
.uc-order-detail-item .order-detail-table .column-l img{
	height: 60px;
    width: 60px;
    float: left;
    margin: 20px;
}
.order-goods-dec{
	float: left;
	color: #333;
	font-size: 14px;
	margin: 20px 10px;
}
.order-goods-dec a{
	display: block;
	margin-bottom: 10px;
}
.uc-order-detail-item .order-detail-table .column-price {
    padding: 30px 0 20px;
    text-align: center;
    vertical-align: top;
    width: 119px;
}
.uc-order-detail-item .order-detail-table .column-action {
    padding: 30px 0 20px;
    text-align: center;
    vertical-align: top;
    width: 180px;
}
.uc-order-detail-item .order-detail-table .column-r {
    border-right: 0 none;
}
.uc-order-detail-item .order-detail-table .order-action {
    font-size: 12px;
}
.uc-order-detail-item .order-detail-table .order-action a {
    cursor: pointer;
    display: block;
}
.order_pay_btn{
	display: block;
	background-color: #ff9913;
	color: #fff;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 10px auto 0 auto;
}
.order_pay_btn:hover{
	color: #fff;
}
.orders_cont{border:1px solid #d6d6d6; margin-top: 10px;}
.orders_cont .cf_bg{ background:#f3f3f3;}
.orders_cont dt{float:left;height:40px;line-height:40px;/*background:#f3f3f3;*/text-align:center;overflow:hidden;display:block;}
.orders_cont dd{float:left;height:40px;line-height:40px;text-align:center;overflow:hidden;display:block;}
.orders_cont .w1{width:140px;}
.orders_cont .w2{width:100px;}
.orders_cont .w3{width:252px;}
.orders_cont .w4{width:100px;}
.orders_cont .w5{width:100px;}
.orders_cont .w6{width:100px;}
.orders_cont .w7{width:130px;}
.orders_cont a{color:#666;}
.orders_cont dl a:hover{color:#ff9913;}
.orders_cont b{font-size:14px;}
.orders_cont a.operation{color:#1f85d7;}
.orders_cont a.transaction{color:#ff9913;}
.orders_cont a.comment,.orders_cont a.share{padding:0 5px;color:#1f85d7;}

