body{width:100%;background:#fff;font-family:"微软雅黑","Microsoft YaHei","宋体";font-size:12px;color:#666;}
a{color:#333;}
a:hover{text-decoration:underline;}
.colororange{color:#ff9913;}
.colorlightblue{color:#33b2ea;}
.colorblue{color:#1f85d7;}
/*对比框Box*/
#box{width:1178px;height:142px;margin:0 auto 2px auto;border:1px solid #ccc;background:#f0f9ff;position:fixed;z-index:99999;}
.boxNav{height:36px;}
.boxNav span{float:left;width:60px;height:36px;line-height:34px;text-align:center;border:2px solid #1f85d7;border-bottom:0;position:absolute;top:0px;background:#fff;z-index:999999;color:#1f85d7;font-size:16px;display:block;}
.boxNav a{float:right;line-height:36px;padding-right:10px;color:#1f85d7;}
.boxNav a:hover{color:#f80;text-decoration:underline;}
.boxList{height:106px;border:2px solid #1f85d7;position:relative;}
.boxList .boxLeft{float:left;width:1054px;height:86px;padding:10px 0;overflow:hidden;display:block;}
.boxList .boxLeft li{float:left;width:260px;height:86px;border-right:1px dotted #d6d6d6;display:block;}
.boxList .boxLeft li .boxCon{width:230px;margin:0 auto;overflow:hidden;}
.boxList .boxLeft li .boxCon .boxCon_Img{float:left;width:83px;height:47px;padding-top:20px;}
.boxList .boxLeft li .boxCon .boxCon_Img img{width:83px;height:47px;}
.boxList .boxLeft li .boxCon .boxCon_cent{float:right;width:140px;padding-top:20px;}
.boxList .boxLeft li .boxCon .boxCon_cent .boxCon_name{height:32px;line-height:16px;overflow:hidden;display:block;}
.boxList .boxLeft li .boxCon .boxCon_cent a:hover{text-decoration:underline;}
.boxList .boxLeft li .boxCon .boxCon_cent .boxCon_cn{height:20px;line-height:20px;font-size:12px;position:relative;overflow:hidden;}
.boxList .boxLeft li .boxCon .boxCon_cent .boxCon_cn .boxCon_Price{width:90px;color:#F80;font-weight:bold;font-size:12px;position:absolute;left:0;top:0;z-index:11;}
.boxList .boxLeft li .boxCon .boxCon_cent .boxCon_cn .boxConcn_Right{width:15px;height:15px;background:url(../images/lineshow.png) -985px -170px no-repeat;font-size:12px;position:absolute;right:0;top:3px;z-index:12;display:block;}
.boxList .boxLeft li .boxCon .boxCon_cent .boxCon_cn .boxConcn_Right:hover{background-position:-985px -200px;}
.boxList .boxLeft li .boxKong{width:200px;margin:0 auto;overflow:hidden;}
.boxList .boxLeft li .boxKong .boxKong_Left{float:left;width:50px;color:#ccc;font-size:36px;line-height:70px;text-align:center;}
.boxList .boxLeft li .boxKong .boxKong_Right{float:right;width:150px;color:#ccc;line-height:50px;}
.boxList .boxRight{float:right;width:120px;text-align:center;}
.boxList .boxRight .duibi{width:72px;height:27px;line-height:27px;background:url(../images/lineshow.png) 0 -130px no-repeat;margin:30px 0 0 30px;_margin:30px 0 0 4px;color:#1f85d7;font-size:14px;display:block;}
.boxList .boxRight .duibi:hover{background-position:0 -170px;text-decoration:none;}
.boxList .boxRight .qingkong{line-height:35px;color:#1f85d7;display:block;}
.boxList .boxRight .qingkong:hover{text-decoration:underline;}
/*右侧返回顶部*/
.duibiBox .duibiLan,.duibiBox .fanhuiTop{background:url(../images/duibi_right.png) 0 0 no-repeat;}
#duibiBox{width:25px;height:200px;margin:0 0 10px 1190px;z-index:10000;}
.duibiBox{position:fixed;bottom:0;}
.duibiBox{position:fixed;_position:absolute;bottom:0;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.duibiBox .duibiLan{width:25px;height:94px;display:block;margin-top:6px;background-position:0 0;}
.duibiBox .duibiLan:hover{background-position:-40px 0;}
.duibiBox .fanhuiTop{width:25px;height:94px;display:block;margin-top:6px;background-position:0 -151px;}
.duibiBox .fanhuiTop:hover{background-position:-40px -151px;}
/*--------------------------------------------------------------线路最终页面--------------------------------------------------------------*/
.lineshow_icon,#bigpicarea .image h3,.line_collect,.triangle,.popup_state .comment_present,.popup_state .notes_present,.line_float_left,.line_float_right,.reserve .reserve_contrast,.counseling dd .counseling_search,.counseling dd .counseling_answer{background:url(../images/lineshow.png) 0 0 no-repeat;}
/*wrap*/
.wrap{width:100%;min-width:1180px;margin-top:30px;}
.show_wrap{width:100%;min-width:1180px;}
.wrap_scroll{position:relative;}
/*container*/
.container{width:1180px;margin:0 auto;}
.container_scroll{position:relative;}
.show_container{width:1180px;margin:0 auto;}
.show_container h1{height:40px;line-height:40px;font-weight:normal;}
.show_container h1 a{color:#1f85d7;}
.show_container h1 a:hover{color:#ff9913;}
/*lineshow_wrap*/
.lineshow_wrap{
	width:1140px;
	margin:0 auto;
	padding: 20px;
	 border: 1px solid #d6d6d6;
}
.lineshow_title{}
.lineshow_icon{
	width:62px;
	height:24px;
	line-height:20px;
	padding-right:6px;
	color:#fff;
	text-align:center;
	z-index:999;
	position: absolute;
	left: -1px;
	background-color: #1f85d7;
}
.goods_title{font-size:20px;color:#333;}
.lineshow_wrap h3 em{font-weight:bold;}
.lineshow_wrap h3 b{width:55px;background:url(../images/linestar.png) 0 12px no-repeat;padding-left:50px;margin-right:10px;}
.lineshow_wrap h3 b.linestar4{background-position:-11px 12px;}
.lineshow_wrap h3 b.linestar3{background-position:-22px 12px;}
.lineshow_wrap h3 b.linestar2{background-position:-33px 12px;}
.lineshow_wrap h3 b.linestar1{background-position:-44px 12px;}
.lineshow_wrap h3 span{margin:0 2px;padding:1px 5px;font-size:12px;color:#fff;white-space: nowrap;}
.lineshow_wrap h3 span.sale{background:#ff6000;}
.lineshow_wrap h3 span.hot{background:#ff9913;}
.lineshow_wrap h3 span.group{background:#33b2ea;}
.lineshow_wrap h4{padding:15px 0;font-weight:normal;}
.lineshow_wrap h4 em{padding-right:15px;}
.line_cont{position: relative;padding: 0; margin:0;}
/*line_flash*/
.line_flash{width:505px;}
/*line_flash_top*/
#bigpicarea{width:505px;height:284px;margin:0px auto;overflow:hidden;position:relative;z-index:300;}
#bigpicarea .image{opacity:0;display:none;position:relative;z-index:200;}
#bigpicarea .image .mask{width:505px;height:80px;background:#000;opacity:0.5;filter:alpha(opacity=50);position:absolute;bottom:0;left:0;z-index:201;}
#bigpicarea .image h3{width:156px;height:60px;padding:10px 9px 10px 0;text-align:center;text-indent:0;color:#fff;font-weight:bold;background-position:0 -30px;position:absolute;bottom:0;left:0;z-index:202;line-height:30px;}
#bigpicarea .image h4{width:330px;height:60px;line-height:20px;padding:10px 0;color:#fff;position:absolute;bottom:0;right:0;z-index:202;}
#bigpicarea .image h4 b{color:#ff9913;}
#bigpicarea .image img{width:505px;height:284px;}
#bigpicarea .ui-els-hide {display:none}
#bigpicarea .word{opacity:0.85;height:0;}
/*line_flash_bottom*/
#smallpicarea{width:505px;padding-top:20px;}
#thumbs{overflow:hidden;}
#thumbs li{float:left;width:115px;height:64px;margin-right:10px;display:inline;}
#thumbs li a{font-size:0px;padding:2px;background-color:#fff;display:block;}
#thumbs li a img{width:111px;height:60px;}
#thumbs li a:hover{background-color:#ff9913;}
#thumbs li a.current{background-color:#ff9913;}
/*anniu*/
.bigbtnPrev,.bigbtnNext{position:absolute;top:40%;z-index:301;cursor:pointer;}
.bigbtnPrev{left:10px;}
.bigbtnNext{right:10px;}
#big_play_prev{width:40px;height:40px;background:url(../images/ShowFlash.png) 0 0 no-repeat;opacity:0.7;filter:alpha(opacity=70);}
#big_play_next{width:40px;height:40px;background:url(../images/ShowFlash.png) 0 -50px no-repeat;opacity:0.7;filter:alpha(opacity=70);}
#big_play_prev:hover,#big_play_next:hover{opacity:1.0;filter:alpha(opacity=100);}
/*anniu end*/

.line_collect_share{padding-top:20px;}
.line_collect{float:left;background-position:-510px -60px;padding-left:20px;outline:none;}
.line_collect:hover{text-decoration:none;}
.line_collected{background-position:-510px -78px;color:#1f85d7;}
.line_share{float:right;overflow:hidden;}
.line_share span{float:left;line-height:22px;background-position:0 -81px;padding-left:15px;}
.line_share a{float:left;width:22px;height:22px;margin:0 5px;display:block;}
.line_share a.share01{background-position:0 0;}
.line_share a.share02{background-position:-40px 0;}
.line_share a.share03{background-position:-80px 0;}
.line_share a.share04{background-position:-120px 0;}
.line_share a.share01:hover{background-position:0 -40px;}
.line_share a.share02:hover{background-position:-40px -40px;}
.line_share a.share03:hover{background-position:-80px -40px;}
.line_share a.share04:hover{background-position:-120px -40px;}
.line_table{float:left;width:470px;}
.line_theme .span_name{float:left;width:100px;line-height:30px;text-align:right;}
.line_theme .span02{float:left;padding-right:10px;color:#ff9913;}
.line_theme .span02 b{font-size:22px;}
.line_theme .span04{float:left;line-height:30px;text-decoration:line-through;color:#999;padding-right:10px;}
.popup_state{float:left;line-height:30px;position:relative;z-index:400;}
.popup_price{z-index:600;}
.popup_sale{z-index:500;}
.popup_state a:hover{color:#ff9913;text-decoration:none;}
.popup_state img{width:14px;height:14px;padding-left:4px;}
.line_theme .span03{line-height:30px;}
.shop_name{
	color: #666;
}
.shop_name:hover{
	color: #990000;
}
.line_theme .zhi{line-height:30px; margin:0 10px;}
.popup_state .sale_state{height:15px;line-height:15px;margin:6px 5px 0 0;border:1px solid #ff9913;overflow:hidden;display:block;}
.sale_state span{float:left;padding:0 5px;background-color:#ff9913;color:#fff;}
.sale_state em{float:left;padding:0 5px;color:#ff9913;}
.popup_state .comment_present{margin-right:10px;padding-left:15px;background-position:-1000px -30px;}
.popup_state .notes_present{padding-left:15px;background-position:-1002px -6px;}
/*popup弹出框*/
.popup_price .popup{z-index:601;}
.popup_sale .popup{z-index:501;}
.popup{width:340px;position:absolute;top:26px;left:0;z-index:401;display:none;}
.triangle{width:17px;height:8px;background-position:-510px -30px;margin:0 0 0 20px;}
.popup_cont{padding:10px 10px;background:#fff;box-shadow:2px 2px 4px #ddd;border-top:3px solid #ff9913;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.popup_close{height:25px;line-height:25px;overflow:hidden;}
.popup_close h3{float:left;height:25px;line-height:25px;font-size:14px;text-indent:0;text-align:left;color:#ff9913;}
.popup_close a{float:right;width:22px;height:21px;background:url(../images/header.png) 0 -129px no-repeat;display:block;}
.popup_cont p{line-height:20px;}
.popup_cont .state_click{line-height:20px;border:none;color:#ff9913;}
.popup_cont a.state_click:hover{text-decoration:underline;}
/*popup弹出框 end*/
.link{background:#d6d6d6;}
.line_top_r{float:right;overflow:hidden;}
.line_float{overflow:hidden;}
.line_float_left{float:left;width:3px;height:62px;background-position:-800px -30px;}
.line_float_right{float:left;width:3px;height:62px;background-position:-929px -30px;}
.line_float_border{float:left;width:130px;height:60px;border-top:1px solid #1f85d7;border-bottom:1px solid #1f85d7;}
.line_float_comment{float:left;width:70px;text-align:center;}
.line_float_comment h3{height:20px;line-height:20px;padding-top:8px;text-indent:0;font-size:12px;font-weight:normal;color:#1f85d7;}
.line_float_comment h4{padding:0 0;color:#1f85d7;font-size:20px;font-weight:bold;}
.line_float_satisfied{float:right;width:50px;height:60px;background-color:#e8f3fb;text-align:center;}
.line_float_satisfied h3{height:20px;line-height:20px;padding-top:8px;text-indent:0;font-size:12px;font-weight:normal;}
.line_float_satisfied h4{padding:0 0;}
.line_float_satisfied h4 em{padding:0 0;color:#1f85d7;}
/*line_bottom*/
.line_bottom{margin-top:15px;background:#f3f3f3; padding: 10px;}
.line_bottom dl{line-height:30px;}
.line_bottom dt{float:left;width:90px;text-align:right;}
.line_bottom dt em{color:#ff9913;}
.line_bottom dd img{width:32px;height:5px;padding:0 10px;}
.shoucang{
	font-size: 14px;
	color: #666;
}
.shoucang:hover{
	font-size: 14px;
	color: #333;
	text-decoration: none;
}
/*游玩日期*/
.line_bottom dd form{float:left;}
.op06{float:left;width:210px;height:29px;line-height:29px;margin-top:3px;padding-left:5px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background:url(../images/input_bg.jpg) 0 0 repeat-x;position:relative;z-index:10;display:inline;}
.opz4{z-index:20;}
.op-right{height:25px;padding-left:8px;overflow:hidden;}
.op_right a{color:#666;}
.op_right a:hover{text-decoration:none;}
.opSlt{height:27px;line-height:27px;margin-right:8px;background:url(../images/sltbg.png) right 12px no-repeat;cursor:pointer;text-decoration:none;}
.sltList{background-color:#fff;border:1px solid #d6d6d6;border-top:none;position:absolute;left:-1px;top:29px;z-index:30;display:none;}
.sltList li{height:25px;line-height:25px;cursor:pointer;}
.sltList li a{color:#666;display:block;}
.sltList li a:hover{color:#ff9913;text-decoration:none;display:block;}
.slt01{width:210px;padding-left:5px;max-height:300px;overflow-y:auto;}
.line_bottom dd span{float:left;padding:0 5px;}
/*预定数量*/
.order{line-height:35px;}
.order span.fl{width:90px;text-align:right;}
.order span.fl em{color:#ff9913;}
.votes{width:530px;overflow:hidden;}
.votes span{float:left;}
.votes span em{color:#ff9913;}
.votes .number{float:left;width:150px;height:29px;line-height:29px;margin:0 5px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background:url(../images/input_bg.jpg) 0 0 repeat-x;}
.number a{float:left;width:30px;height:29px;line-height:29px;text-align:center;color:#666;}
.number a:hover{text-decoration:none;}
.number input{float:left;width:90px;height:27px;line-height:27px;margin:1px 0;text-align:center;border:none;color:#666;}
/*预定数量 end*/
.reserve{
	padding:5px 5px 5px 90px;
}
.reserve input{
	height: 39px;
	line-height: 39px;
	width: 200px;
	font-size: 24px;
}
.reserve a.reserve_btn{
	width:72px;
	height:40px;
	line-height: 40px;
	background-color: #ff9913;
	color:#fff;
	text-align:center;
	font-size:18px;
	display:inline-block;
	margin-right: 10px;
}
.goods-btn{
	margin:30px 10px 10px 10px;
}
.goumai{
	width:150px;
	height:40px;
	line-height: 40px;
	color:#fff;
	text-align:center;
	font-size:18px;
	display:inline-block;
	margin-right: 20px;
}
.goumai:hover{
	text-decoration: none;
}
.goumai-bgcart{
	background-color: #1f85d7;
}
.goumai-bgli{
	background-color: #ff9913;
}
.weituo{
	color: #666;
	display: inline-block;
	width: 200px;
	margin-top: 10px;
}
.weituo:hover{
	color: #333;
	text-decoration: none;
}

.reserve a.reserve_btn:hover{background-position:-1037px -640px;cursor:pointer;text-decoration:none;}
.reserve .reserve_course{float:left;padding:0 10px;color:#666;}
.reserve .reserve_contrast{float:left;width:72px;height:27px;line-height:27px;margin-top:6px;background-position:0 -130px;text-align:center;color:#1f85d7;}
.reserve .reserve_contrast:hover{background-position:0 -170px;cursor:pointer;text-decoration:none;}
.line_tour{padding:5px 0 0 90px;line-height:40px;}
.line_tour b{font-size:20px;color:#ff9913;}
.line_tour span{padding:0 10px;color:#999;}
/*line_cont_l*/
.line_cont_l{overflow:hidden;}
/*calendar日历*/
.calendar{width:504px;padding-top:20px;}
#calendar{width:504px;background-color:#e8f3fb;text-align:center;border:1px solid #98c7ed;cursor:pointer;}
#calendar th{height:30px;line-height:30px;}
#tittle{text-align:center;background:#98c7ed;color:#fff;font-size:16px;font-weight:bold;}
.fanyue{text-align:center;background:#98c7ed;color:#fff;font-size:20px;font-weight:bold;}
#days th{width:71px;background-color:#c0ddf4;text-align:center;font-size:14px;color:#1f85d7;}
#calendar td{width:69px;height:69px;border:1px solid #98c7ed;}
#calendar td.yiguo{color:#fff;}
.xianshi{width:100%;height:100%;background:#fff;}
.xianshi:hover{width:100%;background-color:#e8f3fb;color:#ff9913;}
.riqi{text-align:center;line-height:30px;}
.yuwei{text-align:center;}
.juhuang{text-align:center;}
.today .xianshi{background:#fff9eb;color:#ff9913;}
.today .riqi{font-weight:bold;}
.today .yuwei{color:#ff9913;}
.today .juhuang{color:#1f85d7;}
.juhuang{color:#666;}
.yuweigreen{color:green;}/*余位大余9颜色*/
.yuweiorange{color:orange;}/*余位小余9颜色*/
.yuweired{color:red;}/*余位售完颜色
/*line_cont_r*/
.line_cont_r{width:600px;}
/*points行程概况*/
.points{height:480px;margin-top:20px;overflow:hidden;}
.points .points_cont{height:450px;line-height:25px;overflow:hidden;}
.points h3{height:30px;line-height:30px;padding-left:10px;text-indent:0;background-color:#e8f3fb;color:#1f85d7;font-size:16px;}
.points p{padding-left:10px;line-height:25px;}
.points p em{color:#ff9913;}
.points p b{font-size:14px;}
.points_grounp{height:450px;}
.points_grounp .points_cont{height:400px;}
/*line_wrap*/
.line_wrap{margin:0 auto;}
/*wrap_left*/
.wrap_left{float:left;width:236px;}
.boxs1{float:left;width:924px;position:relative;}
.box1{width:924px;position:static;top:auto;bottom:0px;}
.detailed{width:924px;position:relative;}
.detailed .tabs{
	width:922px;
	height:45px;
	border:1px solid #d6d6d6;
	background:#fff;
}
.active{position:fixed;top:0;z-index:100;}
.detailed .tabs li{float:left; width: 150px; text-align: center; border-right:1px solid #d6d6d6; }
.detailed .tabs li a{
	line-height:45px;
	padding:0 10px;
	font-size:14px;
	display:block;
}
.detailed .tabs li.TabDown a,.detailed .tabs li.TabDown0 a{
	color:#1f85d7;
	text-decoration:none;
}
.detailed .tabs a.tab_btn{float:right;width:143px;height:40px;line-height:38px;margin:3px 5px 0 0;background:url(../images/index.png) -1037px -570px no-repeat;text-align:center;color:#fff;font-size:18px;display:block;}
.detailed .tabs a.tab_btn:hover{background-position:-1037px -640px;text-decoration:none;}
.detailed_cont{
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	overflow: hidden;
	padding: 25px;
}
.tabCont{padding:0 0 20px 0;display:block;}
.anchor{height:45px;}
.tabCont h3{height:30px;line-height:30px;background:#e8f3fb;overflow:hidden;}
.tabCont h3 span{float:left;padding-left:20px;color:#1f85d7;font-size:14px;}
.tabCont .text_box{padding:10px 20px 0 20px;}
.tabCont .text_box p{line-height:25px;}
.tabCont .text_box p em{color:#ff9913;}
.tabCont .text_box h4{padding-top:10px;line-height:25px;}
.tabCont .text_box h4 b{font-size:14px;color:#ff9913;}
/*行程详情*/
.tabCont h3 a.Email,.tabCont h3 a.print{float:right;padding:0 15px;background:url(../images/lineshow.png) 0 0 no-repeat;font-weight:normal;color:#1f85d7;}
.tabCont h3 a.Email{background-position:-800px -110px;}
.tabCont h3 a.print{background-position:-988px -109px;}
/*--行程详情天数--*/
#exp-step-nav{padding-top:46px;z-index:999;}
/*数字经过后样式 背景变灰色*/
.list-icon-link{width:61px;height:61px;line-height:61px;font-size:16px;text-decoration:none;cursor:pointer;color:#333;text-align:center;background:url(../images/step_ico_bg.png) no-repeat 0 -63px;display:block;}
.format-exp ol li{padding:61px 0 0 0;margin-left:30px;border-left:1px solid #33b2ea;}
.exp-content h2{font:normal 22px/24px '微软雅黑';color:#333;padding-bottom:7px;margin:40px 0 0;border-bottom:1px solid #d6d6d8}
.exp-content-block{color:#333;font-size:16px;line-height:28px}
.small-screen .exp-content-block{color:#333;font-size:14px;line-height:24px;}
.exp-content ol .list-item-1{margin-top:20px;padding-top:0}
.content-listblock-text p{margin:20px 0}
/*数字样式*/
.list-icon{width:61px;height:61px;position:absolute;left:-28px;top:70px;font-size:16px;color:#1f85d7;text-align:center;line-height:61px;background:url(../images/step_ol_bg.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/step_ol_bg.png");_background:0}
.list-item-1 .list-icon{top:0;}
.last-item{height:13px;margin-top:61px;position:relative;}
.last-item-end{color:#ccc;font-size:12px;line-height:13px;background-color:#fff;position:absolute;bottom:0px;left:-12px;display:block;}
.exp-content-block ol{clear:both}
.no-format-exp .exp-conent-orderlist .list-icon{top:0;left:0}
.no-format-exp .exp-conent-orderlist .last-item-end{left:-72px;}
.content-list-text{padding-top:10px;}
.content-list-text h3{height:25px;line-height:25px;padding-left:60px;background:none;font-weight:normal;font-size:14px;}
.tabCont .text_box .content-list-text h4{padding-left:60px;font-weight:normal;font-size:12px;padding-top:0;overflow:hidden;}
.content-list-text h4 span{float:left;padding-right:20px;}
.content-list-text h4 span em{color:#1f85d7;}
.content-list-text h5{margin-top:20px;font-size:12px;font-weight:normal;position:relative;z-index:40;}
.content-list-text h5 em{float:left;width:10px;height:10px;background:url(../images/lineshow.png) 0 -590px no-repeat;position:absolute;top:8px;left:-5px;z-index:41;}
.content-list-text h5 b{float:left;padding:0 13px;}
.tabCont .text_box .content-list-text h5 span{float:left;width:780px;color:#666;}
.li_pic{width:768px;padding-left:60px;margin-top:20px;display:block;overflow:hidden;}
.format-exp ol .li_pic li{float:left;width:192px;border-left:0;padding:0 0;margin-left:0;}
.li_pic li img{width:182px;height:102px;padding:10px 5px;}
.li_img{width:768px;padding-left:60px;margin-top:20px;display:block;overflow:hidden;}
.format-exp ol .li_img li{float:left;width:375px;border-left:0;padding:0 0;margin-left:0;}
.li_img li img{width:370px;height:210px;padding:10px 5px;}
.li_thr{width:768px;padding-left:60px;margin-top:20px;display:block;overflow:hidden;}
.format-exp ol .li_thr li{float:left;width:255px;border-left:0;padding:0 0;margin-left:0;}
.li_thr li img{width:250px;height:160px;padding:10px 5px;}
.li_temp{width:770px;padding-left:20px;margin-top:20px;display:block;overflow:hidden;}
.li_temp li{float:left;width:255px;border-left:0;padding:0 0;margin-left:0;}
.li_temp li img{width:250px;height:165px;padding:10px 5px;}
.exp-content-list{display:block;position:relative;min-height:61px;_height:61px;}
.exp-content-body{text-align:justify;margin-top:5px;}
/*--行程详情天数 end--*/
/*warm_prompt温馨提示*/
.warm_prompt{background:#e8f3fb;margin-top:20px;padding:10px 10px;}
.warm_prompt h3,.warm_prompt p{color:#1f85d7;}
/*comment用户点评*/
.text_box h2{padding:10px 0;font-weight:normal;overflow:hidden;}
.text_box h2 span{float:left;}
.text_box h2 span b{font-size:30px;}
.text_box h2 a.comment_btn{float:right;width:80px;height:30px;line-height:28px;text-align:center;color:#fff;font-size:14px;background:url(../images/index.png) 0 -295px no-repeat;}
.text_box h2 a.comment_btn:hover{background-position:-110px -295px;text-decoration:none;}
.comment_nav{height:30px;border-bottom:1px solid #d6d6d6;}
.comment_nav li{float:left;margin-right:10px;position:relative;}
.comment_nav li a{line-height:29px;padding:0 5px;color:#999;display:block;}
.comment_nav li a em{color:#1f85d7;}
.comment_nav li a:hover{border-bottom:2px solid #1f85d7;text-decoration:none;}
.comment_nav li b{background:url(../images/public.png) 0 0 no-repeat;}
/*comment_nav JS*/
.comment_nav li.comment_current{color:#1f85d7;}
.comment_nav li.comment_current a{border-bottom:2px solid #1f85d7;}
.comment_nav li.comment_current a em{color:#333;font-weight:bold;}
.comment_nav li a:hover b{width:12px;height:5px;margin-left:-7px;background-position:0 0;position:absolute;bottom:1px;left:50%;z-index:401;}
.comment_nav li.comment_current b{width:12px;height:5px;margin-left:-7px;background-position:0 0;position:absolute;bottom:1px;left:50%;}
.text_box .comment_cycle{padding:10px 0;overflow:hidden;display:none;}
.comment_cycle dl{padding:10px 0;border-bottom:1px dotted #d6d6d6;}
.comment_cycle dl dt{padding:10px 0;}
.comment_cycle dl dt a img{width:45px;height:45px;border-radius:22px 22px;}
.comment_cycle dl dt a h3{background:none;font-weight:normal;color:#1f85d7;}
.comment_cycle dl dt a:hover{text-decoration:none;}
.comment_cycle dl dt a:hover h3{color:#ff9913;}
.comment_cycle dl dd h3{background:none;overflow:hidden;}
.comment_cycle dl dd h3 span{float:left;padding:0 10px 0 0;color:#666;font-size:12px;}
.comment_cycle dl dd h3 b{float:left;width:80px;height:12px;background:url(../images/heart.png) 0 0 no-repeat;margin-top:8px;}
.comment_cycle dl dd h3 b.heart4{background-position:-16px 0;}
.comment_cycle dl dd h3 b.heart3{background-position:-32px 0;}
.comment_cycle dl dd h3 b.heart2{background-position:-48px 0;}
.comment_cycle dl dd h3 b.heart1{background-position:-64px 0;}
.tabCont .text_box .comment_cycle dl dd h4{padding-top:0;font-weight:normal;line-height:20px;}
.comment_cycle dl dd h4 a{color:#666;}
.comment_cycle dl dd h4 a:hover{color:#ff9913;}
.comment_cycle dl dd p{color:#999;}
.comment_cycle dl dd h5{line-height:25px;overflow:hidden;}
.comment_cycle dl dd h5 a{float:right;margin-left:10px;font-weight:normal;color:#666;background:url(../images/lineshow.png) -510px -124px no-repeat;padding-left:15px;}
.comment_cycle dl dd h5 a:hover{background-position:-510px -151px;text-decoration:none;}
/*counseling咨询问答*/
.text_box dl{overflow:hidden;}
.text_box dt{float:left;width:70px;text-align:left;}
.text_box dd{float:left;width:810px;color:#666;overflow:hidden;}
.counseling{padding:15px 0;}
.counseling dd input{float:left;width:150px;height:20px;line-height:20px;border:none;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;background:url(../images/input_bg.jpg) 0 0 repeat-x;padding-left:5px;color:#666;font-size:12px;}
.counseling dd .counseling_search{float:left;width:45px;height:20px;line-height:20px;margin:0 10px;text-align:center;background-position:-450px -30px;display:block;}
.counseling dd .counseling_search:hover{background-position:-450px -72px;color:#fff;text-decoration:none;}
.counseling dd span{float:left;}
.counseling dd .counseling_answer{float:left;width:71px;height:20px;line-height:20px;margin:0 10px;text-align:center;color:#fff;background-position:-424px -130px;display:block;}
.counseling dd .counseling_answer:hover{background-position:-424px -170px;text-decoration:none;}
.counseling dd .counseling_question{line-height:20px;}
.counseling dd .counseling_question:hover{color:#ff9913;}
.solve{padding:10px 0;border-bottom:1px dotted #d6d6d6;}
.solve dt a img{width:45px;height:45px;border-radius:22px 22px;}
.solve dt a h3{background:none;font-weight:normal;color:#1f85d7;}
.solve dt a:hover{text-decoration:none;}
.solve dt a:hover h3{color:#ff9913;}
.solve dd h3{height:25px;line-height:25px;background:none;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.solve dd h3 a:hover{color:#ff9913;}
.text_box .solve dd h4{padding-top:0;line-height:20px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.text_box .solve dd h4 a:hover{color:#ff9913;}
.solve dd .dd_list{height:23px;line-height:23px;padding-top:5px;overflow:hidden;}
.solve dd .dd_list span{float:left;margin-right:10px;white-space:nowrap;}
.solve dd .dd_list span a:hover{text-decoration:none;}
.solve dd .dd_list span a i{float:left;width:11px;height:23px;background:url(../images/lineshow.png) 0 0 no-repeat;display:block;}
.solve dd .dd_list span a i.dd_em01{background-position:-777px -170px;}
.solve dd .dd_list span a:hover i.dd_em01{background-position:-777px -200px;}
.solve dd .dd_list span a i.dd_em02{background-position:-789px -170px;}
.solve dd .dd_list span a:hover i.dd_em02{background-position:-789px -200px;}
.solve dd .dd_list span a em{float:left;height:23px;padding:0 5px;background:#e8f3fb;color:#1f85d7;}
.solve dd .dd_list span a:hover em{background:#1f85d7;color:#fff;}
.solve dd h5{line-height:25px;overflow:hidden;}
.solve dd h5 a{float:right;margin-left:10px;font-weight:normal;color:#666;}
.solve dd h5 a.solve_h5_a1{background:url(../images/lineshow.png) -510px -124px no-repeat;padding-left:15px;}
.solve dd h5 a.solve_h5_a1:hover{background-position:-510px -151px;text-decoration:none;}
.solve dd h5 a.solve_h5_a2{background:url(../images/public.png) 0 -13px no-repeat;padding-left:15px;}
.solve dd h5 a.solve_h5_a2:hover{background-position:-100px -13px;text-decoration:none;}
/*fanye*/
.fanye{text-align:center;padding:10px 0;overflow:hidden;}
.fanye a{padding:5px 10px;margin:0 3px;border:1px solid #d6d6d6;text-align:center;}
.fanye a:hover,#nowPage{background:#efefef;text-decoration:none;}
.fanye span{padding:0 10px;}
.fanye input{width:40px;padding:5px 0;margin:0 3px;border:1px solid #d6d6d6;}
.fanye a.sure{background:#ff9913;border:none;color:#fff;}
/*翻页加JS后样式修改*/
#Pagination{text-align:center;padding:10px 0;overflow:hidden;}
#Pagination span,#Pagination a{padding:5px 10px;margin:0 3px;border:1px solid #d6d6d6;text-align:center;text-decoration:none;color:#666;font-size:12px;}
#Pagination .current{background:#efefef;text-decoration:none;}
/*翻页加JS后样式修改 end*/
/*相关线路*/
.tabCont h3 a.more{float:right;padding:0 15px;font-weight:normal;color:#666;}
.lineshow_xgxl{width:882px;margin:0 auto;overflow:hidden;}
.lineshow_xgxl li{float:left;width:294px;padding-top:20px;}
.lineshow_xgxl li .lineshow_xgxl_border{width:278px;margin:0 auto;border:1px solid #d6d6d6;}
.lineshow_xgxl_border a img{width:278px;height:158px;}
.lineshow_xgxl_border h5{padding:10px 5px 0 5px;font-weight:normal;overflow:hidden;height:24px;line-height:24px;}
.lineshow_xgxl_border h5 .lineshow_xgxl_zyx{padding:0 5px;margin:0 5px 0 0;background:#1f85d7;color:#fff;}
.lineshow_xgxl_border h5 .lineshow_xgxl_gty{padding:0 5px;margin:0 5px 0 0;background:#ff9913;color:#fff;}
.lineshow_xgxl_border h5 a:hover{color:#ff9913;}
.lineshow_xgxl_border .lineshow_xgxl_price{padding:5px 5px;overflow:hidden;}
.lineshow_xgxl_price span{float:left;}
.lineshow_xgxl_price span b{font-size:16px;}
.lineshow_xgxl_price em{float:left;margin:0 5px;line-height:26px;color:#999;text-decoration:line-through;font-size:10px;}
.lineshow_xgxl_price a{float:right;background:url(../images/index.png) 0 -268px no-repeat;padding-left:15px;}
.lineshow_xgxl_price a:hover{background-position:-110px -268px;color:#ff9913;text-decoration:none;}
/*相关线路 JS*/
.lineshow_xgxl .border_orange .lineshow_xgxl_border{border-color:#ff9913;}
/*wrap_right*/
.wrap_right{float:right;width:924px;}
.boxs2{width:236px;position:relative;}
.box2{width:236px;}
/*--------------------------------------------------------------邮轮最终页面--------------------------------------------------------------*/
.cruises_title h3{text-indent:0;}
.votes span.cruises_span{width:120px;overflow:hidden;}
/*--------------------------------------------------------------酒店最终页面--------------------------------------------------------------*/
.hotel_title{padding:10px 0;border:none;}
.hotel_title h3{text-indent:0;}
.hotel_title h3 i{width:55px;padding-left:55px;background:url(../images/star.png) 0 11px no-repeat;}
.hotel_title h3 i.hoterstar4{background-position:-11px 11px;}
.hotel_title h3 i.hoterstar3{background-position:-22px 11px;}
.hotel_title h3 i.hoterstar2{background-position:-33px 11px;}
.hotel_title h3 i.hoterstar1{background-position:-44px 11px;}
.hotel_title h3 a.hotel_map{font-weight:normal;font-size:12px;background:url(../images/index.png) 0 -268px no-repeat;padding-left:15px;margin-right:20px;}
.hotel_title h3 a.hotel_map:hover{background-position:-110px -268px;color:#ff9913;text-decoration:none;}
.hotel_title h3 a.hotel_collect{font-weight:normal;font-size:12px;background:url(../images/lineshow.png) -510px -60px no-repeat;padding-left:18px;outline:none;}
.hotel_title h3 a.hotel_collect:hover{text-decoration:none;}
.hotel_title h3 a.hotel_collected{background-position:-510px -78px;color:#1f85d7;}
.hotel_cont{width:670px;}
.line_hotel_table{width:440px;}
.hotel_cont .span_name{width:90px;}
.hotel_cont .line_theme .span03 a{float:left;width:24px;height:24px;margin-right:5px;background:url(../images/groupBuying.png) 0 0 no-repeat;display:block;}
.hotel_cont .line_theme .span03 a.wifi{background-position:0 -118px;}
.hotel_cont .line_theme .span03 a.park{background-position:-29px -118px;}
.hotel_cont .line_theme .span03 a.coffee{background-position:-58px -118px;}
.hotel_cont .line_theme .span03 a.food{background-position:-87px -118px;}
.hotel_cont a.hotel_order{width:143px;height:40px;line-height:38px;margin:40px 0 0 90px;background:url(../images/index.png) -1037px -570px;color:#fff;text-align:center;font-size:20px;display:block;}
.hotel_cont a.hotel_order:hover{background-position:-1037px -640px;cursor:pointer;text-decoration:none;}
.line_hotel_float{padding-left:80px;}
.line_favour{width:200px;margin-top:20px;padding:10px 10px;background:#e8f3fb;overflow:hidden;}
.line_favour .line_favour_head{float:left;}
.line_favour_head img{width:35px;height:35px;border-radius:17px 17px;}
.line_favour .line_favour_wenzi{float:right;width:160px;color:#1f85d7;}
/*hotel_room酒店房型*/
.hotel_room{margin-bottom:20px;border:1px solid #d6d6d6;border-top:2px solid #1f85d7;}
.hotel_time{height:50px;line-height:50px;background:#f3f3f3;}
.hotel_time span{float:left;margin:0 10px;}
.hotel_time span input{width:200px;height:29px;line-height:29px;padding-left:5px;border:1px #dcdcdc solid;border-top:1px #c1c1c1 solid;margin-left:8px;}
.hotel_time span input.hotel_date{background:#fff url(../images/index.png) -982px -775px no-repeat;}
.hotel_time span a:hover input.hotel_date{background-position:-982px -978px;}
.hotel_room_search{float:left;width:45px;height:20px;line-height:20px;margin-top:17px;background:url(../images/lineshow.png) -450px -30px no-repeat;text-align:center;display:block;}
.hotel_room_search:hover{background-position:-450px -72px;color:#fff;text-decoration:none;}
/*日历控件样式*/
.calender{width:220px;margin:40px auto 0;top:0;left:0;border:4px #c6e6ff solid;background:#c6e6ff;position:absolute;display:none;z-index:999;}
.calendertb{width:100%;}
.calendertb td{width:25px;height:25px;border:1px #dcf0ff solid;background:#fff;text-align:center;vertical-align:middle;cursor:pointer;font-size:12px;}
.calendertb td.hover,.calendertb td.weekendhover{background:#1f85d7;color:#fff;font-weight:bold;}
.calendertb th{width:25px;height:25px;background:#dcf0ff;text-align:center;vertical-align:middle;cursor:pointer;color:#1f85d7;font-weight:normal;font-size:12px;}
.tdtoday{background:#1f85d7;color:#1f85d7;width:25px;height:25px;text-align:center;vertical-align:middle;cursor:pointer;font-size:12px;font-weight:bold;}
.getyear{width:100%;height:35px;line-height:35px;background:#86c2f2;text-align:center;overflow:hidden;}
.preMonth{float:left;font-size:14px;font-weight:bold;cursor:pointer;padding-left:5px;color:#fff;}
.nextMonth{float:right;font-size:14px;font-weight:bold;cursor:pointer;padding-right:5px;color:#fff;}
.preMonth:hover,.nextMonth:hover{text-decoration:none;}
.mh_date{width:150px; }
.zhezhao{width:100%;height:100%;position:fixed;z-index:998;background:#fff;filter:alpha(opacity=10);opacity:0.1;display:none;}
/*日历控件样式 end*/
.hotel_room dl{width:922px;}
.hotel_room dl.dt_border{border-bottom:1px solid #d6d6d6;overflow:hidden;}
.hotel_room dl dt{float:left;height:40px;line-height:40px;text-align:center;color:#333;}
.hotel_room dl dd{float:left;text-align:center;}
/*2014-06-05酒店最终页面调整*/
.hotel_room dl .room_type{width:200px;}
.hotel_room dl .policy1{width:100px;}
.hotel_room dl .bed_type{width:80px;}
.hotel_room dl .breakfast{width:80px;}
.hotel_room dl .broadband{width:80px;}
.hotel_room dl .policy2{width:60px;}
.hotel_room dl .room_price{width:202px;}
.hotel_room li td{padding:5px 0;text-align:center;}
.hotel_room li td.room_type{width:200px;}
.hotel_room li td.policy1{width:100px;}
.hotel_room li td.bed_type{width:80px;}
.hotel_room li td.breakfast{width:80px;}
.hotel_room li td.broadband{width:80px;}
.hotel_room li td.policy2{width:60px;}
.hotel_room li td.room_price{width:202px;}
.hotel_room li td.room_order{width:120px;}
.hotel_room li td .plicy_quit{position:relative;}
.hotel_room li td .plicy_quit a.quit{border-bottom:1px dotted #999;color:#333;}
.hotel_room li td .plicy_quit .quit_pop{width:300px;line-height:20px;background:url(../images/quit_pop.png) 0 0 no-repeat #fff;position:absolute;top:25px;left:-240px;z-index:999;display:none;}
.hotel_room li td .plicy_quit .quit_pop .quit_txt{margin-top:7px;padding:5px 10px;text-align:left;line-height:20px;border-left:1px solid #ff9913;border-right:1px solid #ff9913;border-bottom:1px solid #ff9913;}
.hotel_room li td a.quit:hover{text-decoration:none;}
.hotel_room li td a.order_danbao{float:left;width:30px;height:20px;line-height:20px;margin:5px 0 0 0;text-align:center;color:#ff9913;font-size:10px;background:#fff4d8;border-radius:3px;}
.hotel_room li td a.order_yufu{float:left;width:30px;height:20px;line-height:20px;margin:5px 0 0 5px;text-align:center;color:#ff9913;font-size:10px;background:#fff4d8;border-radius:3px;}
.hotel_room li td a.order_btn{float:right;width:40px;height:20px;line-height:18px;margin:5px 5px 0 0;background:url(../images/index.png) 0 -1020px no-repeat;text-align:center;color:#fff;font-size:12px;display:block;}
.hotel_room li td a.order_btn:hover{background-position:0 -1050px;}
.hotel_room li .room_type_popup{margin-top:10px;}
/*2014-06-05酒店最终页面调整 end*/
/*2014-04-14添加酒店价格弹出*/
.room_price .hotel_price{cursor:pointer;position:relative;z-index:4000;}
.room_price .hotel_price_index01{z-index:190;}
.room_price .hotel_price_index02{z-index:180;}
.room_price .hotel_price_index03{z-index:170;}
.room_price .hotel_price_index04{z-index:160;}
.room_price .hotel_price_index05{z-index:150;}
.room_price .hotel_price_index06{z-index:140;}
.room_price .hotel_price_index07{z-index:130;}
.room_price .hotel_price_index08{z-index:120;}
.room_price .hotel_price_index09{z-index:110;}
.room_price .hotel_price_index10{z-index:100;}
.PriceCeng{width:645px;position:absolute;right:-20px;top:30px;background:url(../images/PriceCengBg.png) 0 0 no-repeat;display:none;z-index:9999999;}
.PriceCeng .PriceText{width:643px;margin-top:7px;padding:8px 0;background:#fff;border:1px solid #ff9913;border-top:0;}
.PriceCeng .PriceText ul{width:630px;margin:0 auto;background:#fff;overflow:hidden;}
.PriceCeng .PriceText ul li{float:left;width:90px;line-height:25px;margin-bottom:4px;padding:0;border-bottom:0;}
.PriceCeng .PriceText ul li div{width:84px;margin:0 auto;border:1px solid #ccc;overflow:hidden;}
.PriceCeng .PriceText ul li span{float:left;padding:0 5px;border:none;margin:0;}
.PriceCeng .PriceText ul li em{color:#f60;padding:0;}
/*2014-04-14添加酒店价格弹出 end*/
.hotel_room dl .room_order{width:120px;}
.room_type a.room_type_img{float:left;width:85px;height:48px;padding-left:10px;}
.room_type_img img{width:85px;height:48px;}
.room_type div{float:right;width:100px;text-align:left;}
.room_type div h3{line-height:20px;font-weight:normal;}
.room_type div a{line-height:20px;color:#1f85d7;position:relative;}
.room_type div a em{width:9px;height:5px;background:url(../images/groupBuying.png) -13px -79px no-repeat;position:absolute;top:7px;right:-12px;z-index:11;}
.room_type div a em.room_close{background-position:-13px -88px;}
.room_type div a:hover{color:#ff9913;}
.hotel_room ul li{border-bottom:1px dotted #d6d6d6;padding:20px 0;}
.room_type_popup{width:860px;margin:68px 0 0 20px;*+margin:10px 0 0 20px;padding:20px 10px;border:#1f85d7;background:#e8f3fb;position:relative;display:none;}
.room_type_popup a{width:22px;height:21px;background:url(../images/blue_close.png) 0 0 no-repeat;position:absolute;right:10px;top:10px;z-index:701;display:block;}
.room_type_popup a:hover{background-position:0 -29px;}
.room_type_popup h3{padding-bottom:10px;overflow:hidden;}
.room_type_popup h3 span{float:left;width:85px;height:48px;padding:0 10px;display:block;}
.room_type_popup h3 span img{width:85px;height:48px;}
.room_type_popup h4{line-height:30px;font-weight:normal;overflow:hidden;}
.room_type_popup h4 span{float:left;padding:0 10px;color:#1f85d7;}
.room_price span{margin:0 10px;border:1px solid #ff9913;}
.room_price span em{padding:0 5px;}
.room_price span em.em01{background:#ff9913;color:#fff;} 
.room_order a{width:80px;height:30px;line-height:28px;margin:9px 0 0 30px;background:url(../images/index.png) 0 -295px no-repeat;text-align:center;color:#fff;font-size:14px;display:block;}
.room_order a:hover{background-position:-110px -295px;text-decoration:none;}
/*facility_service设施服务*/
.facility_service{overflow:hidden;}
.facility_service dl{line-height:30px;padding:5px 0;border-bottom:1px dotted #d6d6d6;}
.facility_service dt{float:left;width:100px;line-height:30px;color:#333;font-weight:bold;}
.facility_service dd{float:left;line-height:30px;width:760px;}
.facility_service dd span{float:left;width:152px;}
/*hotel_comment我来点评*/
.comment{padding:0 20px 20px 20px;}
.comment h3{line-height:30px;font-size:14px;}
.comment .comment_box{border:1px solid #d6d6d6;padding:10px 0;overflow:hidden;}
.comment_box dl{overflow:hidden;}
.comment_box dt{float:left;width:80px;}
.comment_box dt a{width:45px;height:45px;padding:30px 15px;display:block;}
.comment_box dt img{width:45px;height:45px;border-radius:22px 22px;}
.comment_box dd{float:left;width:800px;}
.comment_box dd h4{font-weight:normal;overflow:hidden;}
.comment_box dd h4 a{float:left;padding:5px 10px;color:#1f85d7;}
.comment_box dd h4 a.comment_quit{display:none;}
.comment_box dd h4 a:hover{color:#ff9913;}
.comment_box dd .issue{width:750px;height:70px;padding:4px 4px;border:1px solid #ddd;background:#fff;}
.comment_box dd .issue textarea{width:750px;height:70px;line-height:25px;border:0;color:#666;font-size:12px;resize:none;padding:0;margin:0;overflow:hidden;}
.comment_box dd a.comment_icon{width:45px;height:20px;line-height:20px;margin:10px 0 0 700px;text-align:center;background:url(../images/lineshow.png) -450px -30px no-repeat;;display:block;}
.comment_box dd a.comment_icon:hover{background-position:-450px -72px;text-decoration:none;color:#fff;}
/*--------------------------------------------------------------签证最终页面--------------------------------------------------------------*/
.visa_title h3{text-indent:0;}
.lineshow_title h4 a{padding:0 20px;color:#1f85d7;}
.lineshow_title h4 a:hover{color:#ff9913;}
.line_table dl{line-height:30px;overflow:hidden;}
.line_table dt{float:left;width:100px;text-align:right;}
.line_table dd{float:left;width:370px;height:90px;overflow:hidden;}
.line_bottom dd input.hotel_date{width:186px;height:29px;line-height:29px;padding-left:5px;border:1px #dcdcdc solid;border-top:1px #c1c1c1 solid;background:#fff url(../images/index.png) -990px -775px no-repeat;}
.line_bottom dd a:hover input.hotel_date{background-position:-990px -978px;}
/*--------------------------------------------------------------景点最终页面--------------------------------------------------------------*/
.scenic_title{border:none;padding:20px 0 0 0;}
.scenic_title h3{text-indent:0;}
.scenic_title h3 em{font-size:12px;padding:0 5px;font-weight:normal;}
.scenic_cont_r{width:660px;}
.ticket_type a.room_type_img{float:left;width:85px;height:48px;padding-left:10px;}
.room_type_img img{width:85px;height:48px;}
.ticket_type div{width:200px;text-align:center;}
.ticket_type div h3{line-height:48px;font-weight:normal;}
.ticket_type div a{line-height:20px;color:#1f85d7;position:relative;}
.ticket_type div a em{width:9px;height:5px;background:url(../images/groupBuying.png) -13px -79px no-repeat;position:absolute;top:7px;right:-12px;z-index:11;}
.ticket_type div a em.room_close{background-position:-13px -88px;}
.ticket_type div a:hover{color:#ff9913;}
/*--------------------------------------------------------------团购最终页面--------------------------------------------------------------*/
.countdown{line-height:38px;padding:8px 0 0 90px;overflow:hidden;}
.countdown .countdown_wenzi{float:left;font-size:18px;color:#ff9913;}
.countdown .settime{float:left;padding-left:10px;font-size:18px;color:#ff9913;font-weight:bold;}
/*--------------------------------------------------------------私人定制最终页面--------------------------------------------------------------*/
.custom_satisfied{background-color:#fff4d8;}
.custom_border{border-color:#ffd9a8;}
.custom_float .line_float_left{background-position:-1130px 0;}
.custom_float .line_float_right{background-position:-1257px 0;}
.custom_reserve a.reserve_btn{background:url(../images/lineshow.png) -1130px -70px no-repeat;display:block;overflow:hidden;}
.custom_reserve a.reserve_btn:hover{background-position:-1130px -120px;}
.custom_comment h3,.custom_comment h4{color:#996633;}
.custom_satisfied h4 em{color:#996633;}
.custom_points h3{background:#fff4d8;color:#996633;}
.detailed .custom_tabs li.TabDown a,.detailed .tabs li.TabDown0 a{border-top:2px solid #996633;color:#996633;}
.custom_tabCont h3{background:#fff4d8;}
.custom_tabCont .content-list-text h3{background:none;}
.custom_tabCont .warm_prompt h3{background:none;}
.custom_tabCont h3 span{color:#996633;}
.custom_tabCont h3 a.Email{background-position:-1130px -170px;color:#996633;}
.custom_tabCont h3 a.print{background-position:-1318px -172px;color:#996633;}
.custom_tabCont .warm_prompt{background-color:#fff4d8;}
.custom_tabCont .warm_prompt h3,.custom_tabCont .warm_prompt p{color:#996633;}
.custom_tabCont .solve dd .dd_list span a i.dd_em01{background-position:-1400px 0;}
.custom_tabCont .solve dd .dd_list span a:hover i.dd_em01{background-position:-1400px -30px;}
.custom_tabCont .solve dd .dd_list span a em{background-color:#ffe8d1;color:#996633;}
.custom_tabCont .solve dd .dd_list span a:hover em{background-color:#996633;color:#fff;}
.custom_tabCont .solve dd .dd_list span a i.dd_em02{background-position:-1412px 0;}
.custom_tabCont .solve dd .dd_list span a:hover i.dd_em02{background-position:-1412px -30px;}
.custom_tabCont .text_box h2 span b.colororange{color:#996633;}
.custom_tabCont .comment_nav li.comment_current a,.custom_tabCont .comment_nav li a:hover{border-color:#996633;}{}
.custom_tabCont .comment_nav li.comment_current b,.custom_tabCont .comment_nav li a b{background:url(../images/lineshow.png) -1389px -70px no-repeat;}
.custom_tabCont .content-list-text h5 em{background:url(../images/lineshow.png) -30px -590px no-repeat;}.
.custom_tabCont .format-exp ol li{border-left:1px solid #ffd9a7;}
.custonm_list_icon{background:url(../images/custom_step_ol_bg.png) 0 0 no-repeat;color:#996633;}
.custom_calendar #calendar{background-color:#fff;border-color:#dbdbdb;}
.custom_calendar .fanyue{background-color:#dbdbdb;}
.custom_calendar #tittle{background-color:#dbdbdb;color:#666;}
.custom_calendar #days th{background-color:#efefef;color:#666;}
.custom_calendar #calendar td {border-color:#dbdbdb;}
.custom_tabCont .solve dd h3 a:hover,.custom_tabCont .solve dd h4 a:hover{color:#996633;}
.custom_tabCont .comment_cycle dl dd h4 a:hover{color:#996633;}
.custom_box .boxNav{background-color:#efefef;}
.custom_box .boxNav span{border-color:#996633;color:#996633;}
.custom_box .boxNav a{color:#996633;}
.custom_box .boxList{border-color:#996633;background-color:#fff;} 
.custom_box .boxList .boxLeft li .boxCon .boxCon_cent .boxCon_cn .boxConcn_Right{background-position:-1400px -120px;}
.custom_box .boxList .boxLeft li .boxCon .boxCon_cent .boxCon_cn .boxConcn_Right:hover{background-position:-1400px -150px;}